# Dependencies
node_modules/

# Build files
dist/
build/

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Vite
.vite

# Coverage
coverage/
.env
.env.*